BalanceManagement/WSDL/BalanceManagementLocalCl_v001.wsdl

<!-- Version History 
Author  Date       Version  Remarks
Anurag  14-03-2016  V10      Annex 1 Balance Management + TEF Governance Comments

--><definitions name="BalanceManagement" targetNamespace="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1" xmlns:ns="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1" elementFormDefault="qualified">
      <xsd:import namespace="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/types" schemaLocation="../XSD/BalanceManagementServiceLocalCl_v001.xsd"/>
     
    </xsd:schema>
    <xsd:schema>
    	<xsd:import namespace="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/types" schemaLocation="../XSD/BalanceManagementServiceLocalCl_v001.xsd">
    	</xsd:import></xsd:schema></types>
  
  <wsdl:message name="viewRechargesRequest">
    <wsdl:part element="ns:ViewRechargesRequest" name="ViewRechargesRequest"/>
  </wsdl:message>
  <wsdl:message name="viewRechargesResponse">
    <wsdl:part element="ns:ViewRechargesResponse" name="ViewRechargesResponse"/>
  </wsdl:message>
  <wsdl:message name="viewRechargesFault">
    <part name="ViewRechargesFault" element="ns:ViewRechargesFault"/>
  </wsdl:message>  
  
  <wsdl:message name="getAccountBalanceRequest">
    <wsdl:part element="ns:GetAccountBalanceRequest" name="GetAccountBalanceRequest"/>
  </wsdl:message>
  <wsdl:message name="getAccountBalanceResponse">
    <wsdl:part element="ns:GetAccountBalanceResponse" name="GetAccountBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="getAccountBalanceFault">
    <part name="GetAccountBalanceFault" element="ns:GetAccountBalanceFault"/>
  </wsdl:message>


  <wsdl:message name="rechargeAgainstBillRequest">
  	<wsdl:part name="RechargeAgainstBillRequest" element="ns:RechargeAgainstBillRequest"/>
  </wsdl:message>
  <wsdl:message name="rechargeAgainstBillResponse">
  	<wsdl:part name="RechargeAgainstBillResponse" element="ns:RechargeAgainstBillResponse"/>
  </wsdl:message>
  <wsdl:message name="rechargeServiceRequest">
  	<wsdl:part name="RechargeServiceRequest" element="ns:RechargeServiceRequest">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="rechargeServiceResponse">
  	<wsdl:part name="RechargeServiceResponse" element="ns:RechargeServiceResponse"/>
  </wsdl:message>
  <wsdl:message name="retrieveSubscriptionBalanceRequest">
  	<wsdl:part name="RetrieveSubscriptionBalanceRequest" element="ns:RetrieveSubscriptionBalanceRequest"/>
  </wsdl:message>
  <wsdl:message name="retrieveSubscriptionBalanceResponse">
  	<wsdl:part name="RetrieveSubscriptionBalanceResponse" element="ns:RetrieveSubscriptionBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="rechargeAgainstBillFault">
  	<wsdl:part name="RechargeAgainstBillFault" element="ns:RechargeAgainstBillFault"/>
  </wsdl:message>
  <wsdl:message name="rechargeServiceFault">
  	<wsdl:part name="RechargeServiceFault" element="ns:RechargeServiceFault"/>
  </wsdl:message>
  <wsdl:message name="retrieveSubscriptionBalanceFault">
  	<wsdl:part name="RetrieveSubscriptionBalanceFault" element="ns:RetrieveSubscriptionBalanceFault"/>
  </wsdl:message>
  <portType name="balanceManagementPortType">            
    <wsdl:operation name="viewRecharges">
      <wsdl:input name="input5" message="tns:viewRechargesRequest"/>
      <wsdl:output name="output5" message="tns:viewRechargesResponse"/>
      <wsdl:fault name="fault5" message="tns:viewRechargesFault"/>
    </wsdl:operation>
    <wsdl:operation name="getAccountBalance">
      <wsdl:input name="input6" message="tns:getAccountBalanceRequest"/>
      <wsdl:output name="output6" message="tns:getAccountBalanceResponse"/>
      <wsdl:fault name="fault6" message="tns:getAccountBalanceFault"/>
    </wsdl:operation>


    <wsdl:operation name="rechargeAgainstBill">
    	<wsdl:input message="tns:rechargeAgainstBillRequest"/>
    	<wsdl:output message="tns:rechargeAgainstBillResponse"/>
            <wsdl:fault name="fault" message="tns:rechargeAgainstBillFault"/>
        </wsdl:operation>
    <wsdl:operation name="rechargeService">
    	<wsdl:input message="tns:rechargeServiceRequest"/>
    	<wsdl:output message="tns:rechargeServiceResponse"/>
            <wsdl:fault name="fault" message="tns:rechargeServiceFault"/>
        </wsdl:operation>
    <wsdl:operation name="retrieveSubscriptionBalance">
    	<wsdl:input message="tns:retrieveSubscriptionBalanceRequest"/>
    	<wsdl:output message="tns:retrieveSubscriptionBalanceResponse"/>
            <wsdl:fault name="fault" message="tns:retrieveSubscriptionBalanceFault"/>
        </wsdl:operation>
  </portType>
  
  <binding name="balanceManagementBinding" type="tns:balanceManagementPortType">

  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="viewRecharges">

  		<soap:operation soapAction="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/ViewRecharges"/>
  		<wsdl:input name="input5">
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output name="output5">
  			<soap:body use="literal"/>
  		</wsdl:output>
  		<wsdl:fault name="fault5">
  			<soap:fault use="literal" name="fault5"/>
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="getAccountBalance">

  		<soap:operation soapAction="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/GetAccountBalance"/>
  		<wsdl:input name="input6">
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output name="output6">
  			<soap:body use="literal"/>
  		</wsdl:output>
  		<wsdl:fault name="fault6">
  			<soap:fault use="literal" name="fault6"/>
  		</wsdl:fault>
  	</wsdl:operation>

  	<wsdl:operation name="rechargeAgainstBill">
  		<soap:operation soapAction="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/RechargeAgainstBill"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault"/>
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="rechargeService">
  		<soap:operation soapAction="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/RechargeService"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault"/>
  		</wsdl:fault>
  	</wsdl:operation>
  	<wsdl:operation name="retrieveSubscriptionBalance">
  		<soap:operation soapAction="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/RetrieveSubscriptionBalance"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  		<wsdl:fault name="fault">
  			<soap:fault use="literal" name="fault"/>
  		</wsdl:fault>
  	</wsdl:operation>
  </binding>
  <service name="balanceManagementService">
    <wsdl:port binding="tns:balanceManagementBinding" name="balanceManagementPortType">
      <soap:address location="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1"/>
    </wsdl:port>
  </service>
</definitions>