BalanceManagement/XSD/BalanceManagementServiceLocalCl_v001.xsd

<!-- Version History  Author  Date       Version  Remarks Anurag  14-03-2016  V10      Annex 1 Balance Management + TEF Governance Comments Anurag  14-03-2016  V11      RechargeAgainstBill Updated with Mandatory fields Anurag  14-03-2016  V12      AI 3216 - changed byte to String for two fields Arun    20-07-2017  V14     CR 3490 -addition of field in getAccountBalanceResponse -->
<xsd:schema targetNamespace="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/types" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://telefonica.cl/ChargeCalculationAndBalanceManagement/BalanceManagement/V1/types" xmlns:Q4="http://telefonica.cl/TefError/V1" xmlns:Q5="http://telefonica.cl/TefRequestHeader/V1" xmlns:Q6="http://telefonica.cl/TefResponseHeader/V1">
	<xsd:import schemaLocation="../../AmdocsCommon/XSD/TefRequestHeaderCl_v001.xsd" namespace="http://telefonica.cl/TefRequestHeader/V1"/>
	<xsd:import schemaLocation="../../AmdocsCommon/XSD/TefResponseHeaderCl_v001.xsd" namespace="http://telefonica.cl/TefResponseHeader/V1"/>
	<xsd:import schemaLocation="../../AmdocsCommon/XSD/TefErrorCl_v001.xsd" namespace="http://telefonica.cl/TefError/V1"/>
	<xsd:element name="ViewRechargesRequest" type="tns:ViewRechargesRequestType"/>
	<xsd:element name="ViewRechargesResponse" type="tns:ViewRechargesResponseType"/>
	<xsd:element name="ViewRechargesFault" type="tns:ViewRechargesFaultType"/>
	<xsd:element name="GetAccountBalanceRequest" type="tns:GetAccountBalanceRequestType"/>
	<xsd:element name="GetAccountBalanceResponse" type="tns:GetAccountBalanceResponseType"/>
	<xsd:element name="GetAccountBalanceFault" type="tns:GetAccountBalanceFaultType"/>
	<xsd:complexType name="PaymentChannel">
		<xsd:sequence>
			<xsd:element name="referenceId" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="requestDate" maxOccurs="1" minOccurs="1" type="xsd:dateTime"/>
			<xsd:element name="pointOfSale" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hub" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="distributor" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="location" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="authorizationCode" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rateCode" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="comments" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentChannelForView">
		<xsd:sequence>
			<xsd:element name="pointOfSale" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hub" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="distributor" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="location" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="authorizationCode" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rateCode" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="comments" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeMethodInfo">
		<xsd:sequence>
			<xsd:element name="debtCovered" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="rechargeAmount" maxOccurs="1" minOccurs="1" type="tns:Money"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Money">
		<xsd:sequence>
			<xsd:element name="amount" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:fractionDigits value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="units" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Money25">
		<xsd:sequence>
			<xsd:element name="amount" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="25"/>
						<xsd:fractionDigits value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Subscriber">
		<xsd:sequence>
			<xsd:element name="primaryResourceType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceValue" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberForRechargeWithLoyaltyResponse">
		<xsd:sequence>
			<xsd:element name="subscriberId" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceValue" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeDatesInfo">
		<xsd:sequence>
			<xsd:element name="rechargeReferenceDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
			<xsd:element name="processDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
			<xsd:element name="logicalDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
			<xsd:element name="rechargeRequestDate" minOccurs="1" maxOccurs="1" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeAmountsInfo">
		<xsd:sequence>
			<xsd:element name="inputAmount" maxOccurs="1" minOccurs="0" type="tns:Money"/>
			<xsd:element name="rechargeChannelAmount" maxOccurs="1" minOccurs="0" type="xsd:double"/>
			<xsd:element name="ppsBalance" maxOccurs="1" minOccurs="0" type="xsd:double"/>
			<xsd:element name="ppsNewBalance" maxOccurs="1" minOccurs="0" type="xsd:double"/>
			<xsd:element name="ppsAmount" maxOccurs="1" minOccurs="0" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeBalanceExpirationInfo">
		<xsd:sequence>
			<xsd:element name="rechargeNumberOfDays" maxOccurs="1" minOccurs="0" type="xsd:integer"/>
			<xsd:element name="balanceExpirationDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeLogInfo">
		<xsd:sequence>
			<xsd:element name="rechargeMainId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rechargeValue" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailMainId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailValue" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailUniqueId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="clientTimeStamp" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="radTimeStamp" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="rplTimeStamp" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="subscriberIdValue" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeLogInfoForRetreiveWithLoyaltyPoints">
		<xsd:sequence>
			<xsd:element name="rechargeMainId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rechargeValue" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailMainId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailValue" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailUniqueId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="clientTimeStamp" maxOccurs="1" minOccurs="1" type="xsd:long"/>
			<xsd:element name="radTimeStamp" maxOccurs="1" minOccurs="1" type="xsd:long"/>
			<xsd:element name="rplTimeStamp" maxOccurs="1" minOccurs="1" type="xsd:long"/>
			<xsd:element name="subscriberIdValue" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeStatusInfo">
		<xsd:sequence>
			<xsd:element name="rechargeStatus" maxOccurs="1" minOccurs="1" type="xsd:byte"/>
			<xsd:element name="lastStatusUpdateDate" minOccurs="0" maxOccurs="1" type="xsd:dateTime"/>
			<xsd:element name="releaseRechargeType" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="cdCancelReferenceId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cancelRechargeType" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="releaseRechargeId" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeTypeInfo">
		<xsd:sequence>
			<xsd:element name="rechargeMethodCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rechargeMethodGroup" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rechargeMethodType" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rechargeChannelCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rechargeType" maxOccurs="1" minOccurs="1" type="xsd:byte"/>
			<xsd:element name="splitRechargeSequence" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeBucketInfoRechargeAgainstBillResponse">
		<xsd:sequence>
			<xsd:element name="bucketId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="billingAccountNumber" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="billingArrangementId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="prepaidBucketId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="paymentChannelName" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="customerId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="crmExternalId" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="currency" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="balanceExpirationDate" maxOccurs="1" minOccurs="1" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccumulationsAmountsInfo">
		<xsd:sequence>
			<xsd:element name="installmentAmount" minOccurs="0" maxOccurs="1" type="xsd:double"/>
			<xsd:element name="regularBonusAmount" minOccurs="0" maxOccurs="1" type="xsd:double"/>
			<xsd:element name="additionalBonusAmount" minOccurs="0" maxOccurs="1" type="xsd:double"/>
			<xsd:element name="reduceByAmount" minOccurs="0" maxOccurs="1" type="xsd:double"/>
			<xsd:element name="debitAmount" minOccurs="0" maxOccurs="1" type="xsd:double"/>
			<xsd:element name="createChargeAmount" minOccurs="0" maxOccurs="1" type="xsd:double"/>
			<xsd:element name="loanAmount" minOccurs="0" maxOccurs="1" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargePM">
		<xsd:sequence>
			<xsd:element name="increaseType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="reduceType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="calculateExpiryDate" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="reasonCode" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="typeOfCharge" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="chargeCode" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="offerId" maxOccurs="1" minOccurs="0" type="xsd:integer"/>
			<xsd:element name="offerInstanceId" maxOccurs="1" minOccurs="0" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeBucketInfo">
		<xsd:sequence>
			<xsd:element name="bucketId" type="xsd:integer" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="billingAccountNumber" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="billingArrangementId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="prepaidBucketId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="paymentChannelName" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="customerId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="crmExternalId" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="currency" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="balanceExpirationDate" maxOccurs="1" minOccurs="1" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeBucketInfoForRetreiveSebscription">
		<xsd:sequence>
			<xsd:element name="billingAccountNumber" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="billingArrangementId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="paymentChannelNumber" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="paymentChannelName" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="atmBucketId" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="customerId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="crmExternalId" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="imsi" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Transaction">
		<xsd:sequence>
			<xsd:element name="activityReason" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="sourceApplicationId" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductOffering">
		<xsd:sequence>
			<xsd:element name="id" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="purchaseAmount" type="tns:Money" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerIdentification">
		<xsd:sequence>
			<xsd:element name="identificationType" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="identificationNumber" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Customer">
		<xsd:sequence>
			<xsd:element name="customerTypeCode" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="customerSubTypeCode" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="customerRank" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerContactIdentification">
		<xsd:sequence>
			<xsd:element name="identificationType" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="18"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="identificationNumber" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeIdentificationInfoRechargeWithLoyaltyPoints">
		<xsd:sequence>
			<xsd:element name="rechargeId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="periodKey" maxOccurs="1" minOccurs="1" type="xsd:short"/>
			<xsd:element name="bucketKey" maxOccurs="1" minOccurs="1" type="xsd:short"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="User">
		<xsd:sequence>
			<xsd:element name="individualId" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="24"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="role" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditCardPMRechargeWithLoyaltyPointsRequest">
		<xsd:sequence>
			<xsd:element name="creditCardNumber" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="creditCardType" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="expirationDate" type="xsd:date" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AppliedCustomerBillingCharge">
		<xsd:sequence>
			<xsd:element name="chargeAmount" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="chargeCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="chgRevenueCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="coveragePeriodStartDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="coveragePeriodEndDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="correlationId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="60"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="appliedCustomerBillingTaxRateList" type="tns:AppliedCustomerBillingTaxRateList" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AppliedCustomerBillingChargeCustom">
		<xsd:sequence>
			<xsd:element name="chargeCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="chargeCodeDescription" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="180"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="chargeType" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="chargeOrigin" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AppliedCustomerBillingTaxRateList">
		<xsd:sequence>
			<xsd:element name="appliedCustomerBillingTaxRate" type="tns:AppliedCustomerBillingTaxRate" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AppliedCustomerBillingTaxRate">
		<xsd:sequence>
			<xsd:element name="taxRelation" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="taxAuthority" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="taxCategory" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="taxRate" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="taxAmount" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="taxableAmount" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="exemptionType" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="taxCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="taxReversalInd" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="billingArrangementId" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="totalAmount" type="tns:Money" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentMethodCustom">
		<xsd:sequence>
			<xsd:element name="paymentMethodType" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerAccountContact">
		<xsd:sequence>
			<xsd:element name="individualName" type="tns:IndividualName" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="addressDetails" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="telephoneNumber" type="tns:TelephoneNumber" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="emailContact" type="tns:EmailContact" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualName">
		<xsd:sequence>
			<xsd:element name="givenNames" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="familyNames" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TelephoneNumber">
		<xsd:sequence>
			<xsd:element name="number" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TelephoneNumberCustom">
		<xsd:sequence>
			<xsd:element name="number" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="11"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmailContact">
		<xsd:sequence>
			<xsd:element name="eMailAddress" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Error">
		<xsd:sequence>
			<xsd:element name="code" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="reason" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ViewRechargesRequestType">
		<xsd:complexContent>
			<xsd:extension base="Q5:TefHeaderReq">
				<xsd:sequence>
					<xsd:element name="ViewRechargesRequestData" type="tns:ViewRechargesRequestDataType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ViewRechargesRequestDataType">
		<xsd:sequence>
			<xsd:element name="subscriberDetails" maxOccurs="1" minOccurs="1" type="tns:SubscriberCustomViewRechargesRequest"/>
			<xsd:element name="fromDate" maxOccurs="1" minOccurs="1" type="xsd:date"/>
			<xsd:element name="toDate" maxOccurs="1" minOccurs="1" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ViewRechargesResponseType">
		<xsd:complexContent>
			<xsd:extension base="Q6:TefHeaderRes">
				<xsd:sequence>
					<xsd:element name="ViewRechargesResponseData" type="tns:ViewRechargesList" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ViewRechargesList">
		<xsd:sequence>
			<xsd:element name="viewRecharges" type="tns:ViewRecharges" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ViewRechargesFaultType">
		<xsd:sequence>
			<xsd:element name="Error" type="Q4:errorTraceType" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberCustomViewRechargesResponse">
		<xsd:sequence>
			<xsd:element name="subscriberId" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceValue" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberCustomViewRechargesRequest">
		<xsd:sequence>
			<xsd:element name="primaryResourceType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceValue" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ViewRecharges">
		<xsd:sequence>
			<xsd:element name="rechargeIdentificationInfo" type="tns:RechargeIdentificationInfoViewRechargesResponseList" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="rechargeDatesInfo" type="tns:RechargeDatesInfo" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="rechargeAmountsInfo" type="tns:RechargeAmountsInfo" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="rechargeBalanceExpirationInfo" type="tns:RechargeBalanceExpirationInfo" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="rechargeLogInfo" type="tns:RechargeLogInfoViewRechargesResponse" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="paymentChannel" type="tns:PaymentChannelForView" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="rechargeStatusInfo" type="tns:RechargeStatusInfo" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="rechargeTypeInfo" type="tns:RechargeTypeInfo" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="rechargeBucketInfo" type="tns:RechargeBucketInfoRechargeAgainstBillResponse" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="subscriber" maxOccurs="1" minOccurs="0" type="tns:SubscriberCustomViewRechargesResponse"/>
			<xsd:element name="accumulationsAmountsInfo" maxOccurs="1" minOccurs="0" type="tns:AccumulationsAmountsInfo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeIdentificationInfoViewRechargesResponseList">
		<xsd:sequence>
			<xsd:element name="rechargeId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="periodKey" maxOccurs="1" minOccurs="0" type="xsd:short"/>
			<xsd:element name="bucketKey" maxOccurs="1" minOccurs="0" type="xsd:short"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeLogInfoViewRechargesResponse">
		<xsd:sequence>
			<xsd:element name="rechargeMainId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rechargeValue" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailMainId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailValue" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailUniqueId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="clientTimeStamp" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="radTimeStamp" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="rplTimeStamp" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="subscriberIdValue" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="typeOfCharge" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetAccountBalanceRequestType">
		<xsd:complexContent>
			<xsd:extension base="Q5:TefHeaderReq">
				<xsd:sequence>
					<xsd:element name="GetAccountBalanceRequestData" type="tns:GetAccountBalanceRequestDataType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetAccountBalanceRequestDataType">
		<xsd:sequence>
			<xsd:element name="customerAccountInfo" maxOccurs="1" minOccurs="0" type="tns:CustomerAccountCustomGetAccountBalanceRequest"/>
			<xsd:element name="msisdn" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetAccountBalanceResponseType">
		<xsd:complexContent>
			<xsd:extension base="Q6:TefHeaderRes">
				<xsd:sequence>
					<xsd:element name="GetAccountBalanceResponseData" type="tns:GetAccountBalanceResponseDataType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetAccountBalanceResponseDataType">
		<xsd:sequence>
			<xsd:element name="accountBalanceList" type="tns:AccountBalanceList" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountBalanceList">
		<xsd:sequence>
			<xsd:element name="accountBalance" type="tns:AccountBalanceType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountBalanceType">
		<xsd:sequence>
			<xsd:element name="customerNames" type="tns:IndividualNameGetAccountBalanceResponse" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="customerAccountInfo" type="tns:CustomerAccountGetAccountBalanceResponse" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="customer" type="tns:CustomerGetAccountBalance" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="customerAccountBalance" type="tns:CustomerAccountBalance" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="allowedPayServiceInd" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="customerDisputedAmount" type="tns:CustomerDisputedAmount" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="businessEntityID" minOccurs="0" maxOccurs="1" type="xsd:int"/>
			<xsd:element name="paymentArrangementInd" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualNameGetAccountBalanceResponse">
		<xsd:sequence>
			<xsd:element name="givenNames" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="familiyNames" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="250"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GetAccountBalanceFaultType">
		<xsd:sequence>
			<xsd:element name="Error" type="Q4:errorTraceType" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerAccountCustomGetAccountBalanceRequest">
		<xsd:sequence>
			<xsd:element name="ID" maxOccurs="1" minOccurs="1" type="xsd:long"/>
			<xsd:element name="cmAccountId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerAccountGetAccountBalanceResponse">
		<xsd:sequence>
			<xsd:element name="ID" maxOccurs="1" minOccurs="1" type="xsd:long"/>
			<xsd:element name="cmAccountId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="lockInfo" minOccurs="0" maxOccurs="1" type="xsd:long"/>
			<xsd:element name="accountStatus" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="collectionIndicator" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="collectionIndUpdateDate" minOccurs="0" maxOccurs="1" type="xsd:date"/>
			<xsd:element name="_customerPayment" minOccurs="1" maxOccurs="1" type="tns:CustomerPaymentGetAccountBalanceResponse"/>
			<xsd:element name="accountType" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="companyCode" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerPaymentGetAccountBalanceResponse">
		<xsd:sequence>
			<xsd:element name="_paymentMethod" maxOccurs="1" minOccurs="1" type="tns:PaymentMethodCustom"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerGetAccountBalance">
		<xsd:sequence>
			<xsd:element name="customerID" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="customerTypeCode" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="customerSubTypeCode" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="documentType" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerAccountBalance">
		<xsd:sequence>
			<xsd:element name="balance" maxOccurs="1" minOccurs="1" type="tns:Money"/>
			<xsd:element name="accountBalancePolicy" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="disputeBalance" maxOccurs="1" minOccurs="0" type="tns:Money"/>
			<xsd:element name="netARBalance" minOccurs="1" maxOccurs="1" type="tns:Money"/>
			<xsd:element name="balanceUpdateDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
			<xsd:element name="unappliedAmount" maxOccurs="1" minOccurs="1" type="tns:Money"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerDisputedAmount">
		<xsd:sequence>
			<xsd:element name="nonDisputedPastDue" maxOccurs="1" minOccurs="1" type="tns:Money"/>
			<xsd:element name="nonDisputedAmountDue" maxOccurs="1" minOccurs="1" type="tns:Money"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RechargeAgainstBillRequest" type="tns:RechargeAgainstBillRequestType"/>
	<xsd:element name="RechargeAgainstBillResponse" type="tns:RechargeAgainstBillResponseType"/>
	<xsd:element name="RechargeAgainstBillFault" type="tns:RechargeAgainstBillFaultType"/>
	<xsd:element name="RechargeServiceRequest" type="tns:RechargeServiceRequestType"/>
	<xsd:element name="RechargeServiceResponse" type="tns:RechargeServiceResponseType"/>
	<xsd:element name="RechargeServiceFault" type="tns:RechargeServiceFaultType"/>
	<xsd:element name="RetrieveSubscriptionBalanceRequest" type="tns:RetrieveSubscriptionBalanceRequestType"/>
	<xsd:element name="RetrieveSubscriptionBalanceResponse" type="tns:RetrieveSubscriptionBalanceResponseType"/>
	<xsd:element name="RetrieveSubscriptionBalanceFault" type="tns:RetrieveSubscriptionBalanceFaultType"/>
	<xsd:complexType name="RechargeAgainstBillRequestType">
		<xsd:complexContent>
			<xsd:extension base="Q5:TefHeaderReq">
				<xsd:sequence>
					<xsd:element name="RechargeAgainstBillRequestData" type="tns:RechargeAgainstBillRequestDataType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RechargeAgainstBillRequestDataType">
		<xsd:sequence>
			<xsd:element name="MSISDNOrigin" maxOccurs="1" minOccurs="1" type="tns:TelephoneNumberCustom"/>
			<xsd:element name="MSISDNTarget" maxOccurs="1" minOccurs="1" type="tns:TelephoneNumberCustom"/>
			<xsd:element name="customerBillingCharge" maxOccurs="1" minOccurs="1" type="tns:AppliedCustomerBillingChargeCustom"/>
			<xsd:element name="chargeEffectiveDate" maxOccurs="1" minOccurs="0" type="tns:CustomerOfferItem"/>
			<xsd:element name="rechargeMethodInfo" maxOccurs="1" minOccurs="1" type="tns:RechargeMethodInfo"/>
			<xsd:element name="rechargePM" maxOccurs="1" minOccurs="0" type="tns:RechargePM"/>
			<xsd:element name="paymentChannel" maxOccurs="1" minOccurs="1" type="tns:PaymentChannel"/>
			<xsd:element name="paymentMethod" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="createChargeAmount" maxOccurs="1" minOccurs="1" type="tns:Money25"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerOfferItem">
		<xsd:sequence>
			<xsd:element name="effectiveDate" type="xsd:date" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrepaidBucket">
		<xsd:sequence>
			<xsd:element name="paymentCategory" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrepaidBucketForRechargeWithLoyalty">
		<xsd:sequence>
			<xsd:element name="prepaidBucketId" type="xsd:integer" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="paymentCategory" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeAgainstBillResponseType">
		<xsd:complexContent>
			<xsd:extension base="Q6:TefHeaderRes">
				<xsd:sequence>
					<xsd:element name="RechargeAgainstBillResponseData" type="tns:RechargeAgainstBillResponseDataType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RechargeAgainstBillResponseDataType">
		<xsd:sequence>
			<xsd:element name="rechargeIdentificationInfo" maxOccurs="1" minOccurs="1" type="tns:RechargeIdentificationInfo"/>
			<xsd:element name="rechargeDatesInfo" maxOccurs="1" minOccurs="1" type="tns:RechargeDatesInfo"/>
			<xsd:element name="rechargeAmountsInfo" maxOccurs="1" minOccurs="1" type="tns:RechargeAmountsInfo"/>
			<xsd:element name="rechargeBalanceExpirationInfo" maxOccurs="1" minOccurs="1" type="tns:RechargeBalanceExpirationInfo"/>
			<xsd:element name="rechargeLogInfo" maxOccurs="1" minOccurs="1" type="tns:RechargeLogInfo"/>
			<xsd:element name="rechargeTypeInfo" maxOccurs="1" minOccurs="1" type="tns:RechargeTypeInfo"/>
			<xsd:element name="rechargeStatusInfo" maxOccurs="1" minOccurs="1" type="tns:RechargeStatusInfo"/>
			<xsd:element name="rechargeBucketInfo" maxOccurs="1" minOccurs="1" type="tns:RechargeBucketInfoRechargeAgainstBillResponse"/>
			<xsd:element name="subscriber" maxOccurs="1" minOccurs="1" type="tns:SubscriberRechargeAgainstBillResponse"/>
			<xsd:element name="accumulationsAmountsInfo" maxOccurs="1" minOccurs="0" type="tns:AccumulationsAmountsInfo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeIdentificationInfo">
		<xsd:sequence>
			<xsd:element name="rechargeId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="periodKey" maxOccurs="1" minOccurs="1" type="xsd:short"/>
			<xsd:element name="bucketKey" maxOccurs="1" minOccurs="1" type="xsd:short"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeLogInfoRechargeServiceResponse">
		<xsd:sequence>
			<xsd:element name="rechargeMainId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rechargeValue" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailMainId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="45"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailValue" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="channelDetailUniqueId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="clientTimeStamp" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="radTimeStamp" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="rplTimeStamp" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="subscriberIdValue" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="80"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberRechargeAgainstBillResponse">
		<xsd:sequence>
			<xsd:element name="subscriberId" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long">
						<xsd:totalDigits value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceValue" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeAgainstBillFaultType">
		<xsd:sequence>
			<xsd:element name="Error" type="Q4:errorTraceType" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- RechargeServiceRequestType -->
	<xsd:complexType name="RechargeServiceRequestType">
		<xsd:complexContent>
			<xsd:extension base="Q5:TefHeaderReq">
				<xsd:sequence>
					<xsd:element name="RechargeServiceRequestData" type="tns:RechargeServiceRequestDataType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RechargeServiceRequestDataType">
		<xsd:sequence>
			<xsd:element name="rechargeMethodInfo" type="tns:RechargeMethodInfoRechargeServiceRequest" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="Subscriber" type="tns:SubscriberForRecharge" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="creditCardPM" type="tns:CreditCardPM" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="rechargePM" type="tns:RechargePM" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="paymentChannel" type="tns:PaymentChannel" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="prepaidBucket" type="tns:PrepaidBucketRechargeServiceRequest" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="paymentMethod" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CustomerAccount">
		<xsd:sequence>
			<xsd:element name="ID" maxOccurs="1" minOccurs="1" type="xsd:long"/>
			<xsd:element name="cmAccountId" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeMethodInfoRechargeServiceRequest">
		<xsd:sequence>
			<xsd:element name="debtCovered" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="rechargeAmount" maxOccurs="1" minOccurs="1" type="tns:Money"/>
			<xsd:element name="paySourceType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="paySourceId" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="240"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditCardPM">
		<xsd:sequence>
			<xsd:element name="creditCardNumber" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="19"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="creditCardType" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="expirationDate" maxOccurs="1" minOccurs="1" type="xsd:date"/>
			<xsd:element name="ccToken" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrepaidBucketRechargeServiceRequest">
		<xsd:sequence>
			<xsd:element name="paymentCategory" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditCardAuthorization">
		<!-- Revision: esta estructura no esta definida en el IDD -->
		<xsd:sequence>
			<xsd:element name="orderNumber" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeServiceResponseType">
		<xsd:complexContent>
			<xsd:extension base="Q6:TefHeaderRes">
				<xsd:sequence>
					<xsd:element name="RechargeServiceResponseData" type="tns:RechargeServiceResponseDataType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RechargeServiceResponseDataType">
		<xsd:sequence>
			<xsd:element name="rechargeIdentificationInfo" type="tns:RechargeIdentificationInfoRechargeServiceResponse" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="rechargeDatesInfo" type="tns:RechargeDatesInfo" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="rechargeAmountsInfo" type="tns:RechargeAmountsInfo" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="rechargeBalanceExpirationInfo" type="tns:RechargeBalanceExpirationInfo" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="rechargeLogInfo" type="tns:RechargeLogInfoRechargeServiceResponse" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="rechargeTypeInfo" type="tns:RechargeTypeInfo" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="rechargeStatusInfo" type="tns:RechargeStatusInfo" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="rechargeBucketInfo" type="tns:RechargeBucketInfoRechargeAgainstBillResponse" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="subscriber" type="tns:SubscriberRechargeAgainstBillResponse" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="accumulationsAmountsInfo" type="tns:AccumulationsAmountsInfo" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeIdentificationInfoRechargeServiceResponse">
		<xsd:sequence>
			<xsd:element name="rechargeId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="periodKey" maxOccurs="1" minOccurs="1" type="xsd:short"/>
			<xsd:element name="bucketKey" maxOccurs="1" minOccurs="1" type="xsd:short"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RechargeServiceFaultType">
		<xsd:sequence>
			<xsd:element name="Error" type="Q4:errorTraceType" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--  3.3  RetrieveSubscriptionBalance-->
	<xsd:complexType name="RetrieveSubscriptionBalanceRequestType">
		<xsd:complexContent>
			<xsd:extension base="Q5:TefHeaderReq">
				<xsd:sequence>
					<xsd:element name="RetrieveSubscriptionBalanceRequestData" type="tns:RetrieveSubscriptionBalanceRequestDataType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RetrieveSubscriptionBalanceRequestDataType">
		<xsd:sequence>
			<xsd:element name="subscriber" type="tns:subscriberRetreiveType" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RetrieveSubscriptionBalanceResponseType">
		<xsd:complexContent>
			<xsd:extension base="Q6:TefHeaderRes">
				<xsd:sequence>
					<xsd:element name="RetrieveSubscriptionBalanceResponseData" type="tns:RetrieveSubscriptionBalanceResponseDataType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RetrieveSubscriptionBalanceResponseDataType">
		<xsd:sequence>
			<xsd:element name="subscriptionBalanceResponse" type="tns:SubscriptionBalanceResponseList" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="status" type="tns:Status" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriptionBalanceResponseList">
		<xsd:sequence>
			<xsd:element name="BucketBalanceInfo" type="tns:BucketBalanceInfo" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="PrepaidBucket" type="tns:PrepaidBucketRetrieveSubscriptionBalanceResponse" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="OngoingBucket" type="tns:OngoingBucket" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="BucketIndicator" type="tns:BucketIndicator" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="BucketRechargeDate" type="tns:BucketRechargeDate" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="BucketStatus" type="tns:BucketStatus" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="BucketGeneralInfo" type="tns:BucketGeneralInfo" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="RechargeBucketInfo" type="tns:RechargeBucketInfoForRetreiveSebscription" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BucketGeneralInfo">
		<xsd:sequence>
			<xsd:element name="policyCode" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="currency" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="billCycle" maxOccurs="1" minOccurs="1" type="xsd:short"/>
			<xsd:element name="partitionId" maxOccurs="1" minOccurs="1" type="xsd:short"/>
			<xsd:element name="businessEntity" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="chargeLeftIndicator" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="prepaidBalanceStatus" maxOccurs="1" minOccurs="1" type="xsd:byte"/>
			<xsd:element name="lastBalanceStaus" maxOccurs="1" minOccurs="1" type="xsd:byte"/>
			<xsd:element name="balanceStatusChangeDate" type="xsd:dateTime" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="aggregatedRechargeAmount" maxOccurs="1" minOccurs="0" type="xsd:double"/>
			<xsd:element name="bonusEffectiveDate" type="xsd:date" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="bonusExpiryDate" type="xsd:date" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="firstRechargeDate" type="xsd:date" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="lastRechargeId" maxOccurs="1" minOccurs="0" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BucketStatus">
		<xsd:sequence>
			<xsd:element name="status" maxOccurs="1" minOccurs="1" type="xsd:byte"/>
			<xsd:element name="statusDate" type="xsd:date" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BucketRechargeDate">
		<xsd:sequence>
			<xsd:element name="balanceExpirationDate" type="xsd:date" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="lastRechargeExpirationId" maxOccurs="1" minOccurs="0" type="xsd:integer"/>
			<xsd:element name="lastRechargeDate" type="xsd:date" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BucketIndicator">
		<xsd:sequence>
			<xsd:element name="installmentIndicator" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="loanIndicator" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="debtIndicator" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="additionalBonusIndicator" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="firstRechargeIndicator" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
			<xsd:element name="rechargeIndicator" maxOccurs="1" minOccurs="0" type="xsd:byte"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OngoingBucket">
		<xsd:sequence>
			<xsd:element name="lastOngoingStep" maxOccurs="1" minOccurs="0" type="xsd:short"/>
			<xsd:element name="lastOngoingDate" type="xsd:date" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="ongoingBatchUniqueID" maxOccurs="1" minOccurs="0" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PrepaidBucketRetrieveSubscriptionBalanceResponse">
		<xsd:sequence>
			<xsd:element name="prepaidBucketId" maxOccurs="1" minOccurs="1" type="xsd:integer"/>
			<xsd:element name="paymentCategory" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BucketBalanceInfo">
		<xsd:sequence>
			<xsd:element name="paymentChannelNumber" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="status" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="statusChangeDate" maxOccurs="1" minOccurs="0" type="xsd:date"/>
			<xsd:element name="balanceAmount" maxOccurs="1" minOccurs="0" type="tns:Money"/>
			<xsd:element name="amountPrecision" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="totalReservedAmount" maxOccurs="1" minOccurs="0" type="xsd:double"/>
			<xsd:element name="businessEntity" maxOccurs="1" minOccurs="0" type="xsd:integer"/>
			<xsd:element name="lastTransactionId" maxOccurs="1" minOccurs="0" type="xsd:double"/>
			<xsd:element name="lastActivityCode" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="lastActivityAmount" maxOccurs="1" minOccurs="0" type="xsd:double"/>
			<xsd:element name="lastActivityReservedAmount" maxOccurs="1" minOccurs="0" type="xsd:double"/>
			<xsd:element name="barringCode" maxOccurs="1" minOccurs="0" type="xsd:long"/>
			<xsd:element name="recordCreationDate" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
			<xsd:element name="record" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
			<xsd:element name="returnCode" maxOccurs="1" minOccurs="0" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BucketBalancesList">
		<xsd:sequence>
			<xsd:element name="bucketBalance" type="tns:BucketBalance" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BucketBalance">
		<xsd:sequence>
			<xsd:element name="entityType" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="entityValue" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="code" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="target" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="balance" maxOccurs="1" minOccurs="0" type="xsd:double"/>
			<xsd:element name="type" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="deliveryType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="date" maxOccurs="1" minOccurs="0" type="xsd:dateTime"/>
			<xsd:element name="isVisible" maxOccurs="1" minOccurs="0" type="xsd:boolean"/>
			<xsd:element name="initialValue" maxOccurs="1" minOccurs="0" type="xsd:float"/>
			<xsd:element name="consumedAmount" maxOccurs="1" minOccurs="0" type="xsd:float"/>
			<xsd:element name="description" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Status">
		<xsd:sequence>
			<xsd:element name="code" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="description" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RetrieveSubscriptionBalanceFaultType">
		<xsd:sequence>
			<xsd:element name="Error" type="Q4:errorTraceType" maxOccurs="1" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="subscriberRetreiveType">
		<xsd:sequence>
			<xsd:element name="primaryResourceType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceValue" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="subscriberType" type="xsd:integer" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SubscriberForRecharge">
		<xsd:sequence>
			<xsd:element name="primaryResourceType" maxOccurs="1" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="primaryResourceValue" maxOccurs="1" minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="subscriberType" type="xsd:integer" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
