BalanceManagement/XSD/NotifyRechargeRequest.xsd

<xs:schema version="1.0" targetNamespace="http://www.zweicom.com/wsdl/schema" xmlns:tns="http://www.zweicom.com/wsdl/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NotifyRechargeRequest" type="tns:NotifyRecharge"/>
  <xs:complexType name="NotifyRecharge">
  	<xs:sequence>
	  <xs:element name="msisdn" type="xs:string"/>
	  <xs:element name="requestDateTime" type="xs:string"/>
	  <xs:element name="amount" type="xs:string"/>
	  <xs:element name="ppsNewBalance" type="xs:string"/>
	  <xs:element name="balExpDate" type="xs:string"/>
	</xs:sequence>
  </xs:complexType>
</xs:schema>